$primary-color: #1B1722;
$accent-color: #5428ce;
$blue-color: #0f4dd1;
$secondary-color: #282C2F;
$text-color: #3b3b3b;
$light-text-color: #777777;
$light-gray:  #efeff3;
$soft-white: #e8eaee;
$border-gray-color:  #dfe3e6;

$input-height: 42px;
$input-padding: 0 1em;
$border-radius: .5rem;

$space-sm:12px;
$space-md:24px;
$space-lg:40px;
$space-xl:50px;
$space-2xl:75px;
$space-3xl:100px;

$content-size:1200px;