$primary-color: #1B1722;
$accent-color: #0e68d0;
$secondary-color: #282C2F;
$text-color: #777777;
$light-gray:  #edf0f3;

$input-height: 55px;
$input-padding: 0 1em;
$border-radius: .4em;

$space-sm:12px;
$space-md:24px;
$space-lg:40px;
$space-xl:50px;
$space-2xl:75px;
$space-3xl:100px;