@use "abstracts" as *;

.card-block {
  background: white;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column; 
  border:solid 1px $border-gray-color;

  .card-content {
    padding: vwsize($space-md);
    width: 100%;
    height: auto;
  }

}