@use "abstracts" as *;

.user-list-item {
  display: flex;
  align-items: center;
  gap: vwsize($space-md);
}

.avatar-wrapper {
  position: relative;
  width: vwsize(56px);
  height: vwsize(56px);
  flex-shrink: 0;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.count-badge {
  position: absolute;
  bottom: 0;
  right: 0;

  transform: translate(15%, 15%);
  height: vwsize(20px);
  aspect-ratio: 1;
  border-radius: 100px;

  background-color: $accent-color;
  color: white;

  font-size: 0.75rem;
  font-weight:800;

  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: vwsize(2px);
}

.name {
  font-weight: 600;
  color: $primary-color;
}

.email,
.phone {
  font-size: 0.85rem;
  color: $text-color;
  opacity: 0.8;
}

