@use "abstracts" as *;

.layout-wrapper {
	display:grid;
	grid-template-columns:vwsize(340px) 1fr;
	height: 90vh;
	
	.content {
		padding: vwsize($space-lg);
	}
}

.side-bar {
	background:white;
	height: 100%;
	padding: vwsize($space-lg);
	display: flex;
	flex-direction: column;
	gap: vwsize($space-sm);
	& .logo {

	width:100%;
	}

	& > :first-child{
		margin-bottom: vwsize($space-md);
	}
}

.header {
	display:grid;
	height: vwsize(100px);

	align-items: center;
	justify-content: center;
	grid-template-columns:vwsize(340px) 1fr;

	background-color: #ffffffd0;

	& div {
		width:100%;
		height:100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
	}
	& .logo {
		width: vwsize(200px);
		margin:auto;
	}
}