@use "abstracts" as *;

.layout-wrapper {
	display: grid;
	grid-template-columns: vwsize(265px) 1fr;
	height: 90vh;

	.content {
		padding: vwsize($space-lg);
		width: vwsize($content-size);
		margin:0 auto;
	}
}

.side-bar {
	background: white;
	height: 100%;
	padding: vwsize($space-sm)vwsize($space-sm);
	display: flex;
	flex-direction: column;
	gap: vwsize($space-sm);
	
	border-right: solid 1px $border-gray-color;


	& .logo {

		width: 100%;
	}

}

.header {
	
	display: flex;
	align-items: center;
	padding: 0 vwsize($space-lg);
	height: vwsize(70px);
	background: #fff;
	border-bottom: solid 1px $border-gray-color;

	justify-content: space-between;

	& .logo {
		width: vwsize(170px);
	}

}