@use "abstracts" as *;

a {
  all: unset !important;
}

.button {
  background: $accent-color;  
  height: vwsize($input-height);
  padding: 0 vwsize($space-sm);
  text-align: center;
  color: white;
  border-radius: $border-radius;
  width: 100%;
  cursor: pointer;
}