@use "abstracts" as *;


.field-wrapper {

	&:has(.field-errors p) {


		& input {
			border: solid vwsize(3px) #e30d0d;
		}

		& .active label {

			color: #e30d0d;
		}

	}
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;

	& label {
		font-size: .8em;
		position: absolute;
		top: 50%;
		left: 1em;
		transform: translate(0, -50%);
		background-color: white;
		padding: 0 vwsize(5px);
		transition: all .2s;
		opacity: .7;
		z-index: 1;
		user-select: none;
		pointer-events: none;
	}

	&.active label {
		top: 0;
		left: 1em;
		font-size: .9em;
		transform: translate(0, -50%);
		background-color: white;
		padding: 0 vwsize(5px);
		opacity: 1;
		pointer-events: none;
	}

	& input {
		font-size: .9em;
		height: vwsize($input-height);
		border-radius: .4em;
		border: solid vwsize(2px) $border-gray-color;
		outline: none;
		padding: 0 vwsize($space-sm);
	}
}

.field-footer {
	margin-top: vwsize($space-sm);

	& .field-errors {
		color: #e30d0d;
		font-size: .8em;
	}
}