@use "abstracts" as *;

.countdown-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: vwsize($space-lg)
}

.overview-wrapper {
    display: flex;
    flex-direction: column;
    gap: vwsize($space-lg);
}

.chart-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: vwsize($space-lg)
}

.users-list {
    display: flex;
    flex-direction: column;
    gap: vwsize($space-sm);
    padding: vwsize($space-sm);
}